body, .body1{
	font-family:"Roboto", sans-serif;
	font-weight:400;
	background-color:#4527a0;
	color:#fff;
	font-size:16px;
	letter-spacing:0.5px;
}
h1{
	font-weight:300;
	font-size:96px;
	letter-spacing:-1.5px;
}
h2{
	font-weight:300;
	font-size:60px;
	letter-spacing:-0.5px;
}
h3{
	font-size:48px;
	letter-spacing:0;
}
h4{
	font-size:34px;
	letter-spacing:0.25px;
}
h5{
	font-size:24px;
	letter-spacing:0;
}
h6{
	font-weight:500;
	font-size:20px;
	letter-spacing:0.15px;
}
.subtitle1{
	font-size:16px;
	letter-spacing:0.15px;
}
.subtitle2{
	font-weight:500;
	font-size:14px;
	letter-spacing:0.1px;
}
.body2{
	font-size:14px;
	letter-spacing:0.25px;
}
.caption{
	font-size:12px;
	letter-spacing:0.4px;
}
.overline{
	font-size:10px;
	letter-spacing:1.5px;
	text-transform:uppercase;
}
code{
	font-family:"Roboto Mono" monospace;
	font-size:14px;
	font-weight:400;
	background-color:#7953d2;
	color:#fff;
	border-radius:4px;
	display:block;
	padding:2px;
	letter-spacing:0.25px;
}
.inline{
	display:inline;
	padding:0;
}
li{
	font-size:14px;
	letter-spacing:0.25px;
}
ol,ul{
	background-color:#000070;
	border-radius:4px;
	padding:4px;
	margin-left:15px;
}
button{
	background-color:#7953d2;
	color:#fff;
	border-color:#7953d2;
	border-radius:4px;
	border-width:0;
	font-size:16px;
	font-weight:500;
	letter-spacing:0.75px;
	text-transform:uppercase;
}
.button{
	color:#fff;
}
a{
	color:#fff;
	text-decoration:underline;
}
a:hover{
	text-decoration:none;
}
